[Unit]
Description=Remote desktop service (VNC)
After=syslog.target network.target

[Service]
Type=forking
User=root
Group=root
#ExecStartPre=/bin/sh -c '/usr/bin/vncserver -kill %i > /dev/null 2>&1 || :'
ExecStart=/usr/sbin/runuser -l {{ default_user }} -c "/usr/bin/sleep 5000 &"
#ExecStop=/bin/sh -c 'kill < /var/lib/myservice.pid > /dev/null 2>&1'
#PIDFile=/var/lib/myservice.pid


[Install]
WantedBy=graphical.target


